* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #741b75;
  font-family: "Handlee", cursive;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  color: #fff;
}

.item-logo img {
  width: 100%;
  height: 170px;
  margin-top: 180px;
  margin-left: 45px;
}

.mensage {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 90px;
}

.item-msg,
.msg-code-decode {
  font-size: 20px;
  font-weight: bold;
}

#msg,
#resMsg {
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}

.offset {
  font-size: 18px;
  font-weight: bold;
}

.item-desloc-radio,
.item-desloc,
.item-radio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.item-desloc-radio {
  margin-left: 180px;
  padding-bottom: 20px;
}
.item-desloc {
  margin-right: 10px;
}

#desloc {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  margin-left: 10px;
}

.item-radio {
  font-size: 18px;
  font-weight: bold;
}

.radioCipher,
.radioDecipher {
  margin-right: 30px;
  padding-left: 7px;
}

.item-code {
  background-color: #741b75;
  width: 450px;
  padding: 30px;
  margin-right: 180px;
  margin-top: 50px;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #fff;
  color: #741b75;
  font-size: 14px;
  font-weight: bold;
}

form textarea {
  width: 550px;
  height: 200px;
}

#resMsg {
  width: 550px;
  height: 150px;
  background-color: #fff;
  color: #741b75;
  padding: 2px;
  margin-right: 100px;
}

.button-copy-clean {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

#clean {
  position: absolute;
  right: 200px;
}

#copy {
  position: absolute;
  right: 500px;
}

footer {
  color: #fff;
  position: absolute;
  bottom: 3px;
  left: 500px;
  font-size: 20px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

footer a {
  color: #fff;
}

.logo-github {
  width: 15px;
  height: 15px;
}
